{% extends 'main.html' %}

{% block title %}Yang Songzhou's{% endblock %}

{% block styles %}
<!-- build:css styles/index.css -->
<link rel="stylesheet" href="styles/index.css">
<!-- endbuild -->
{% endblock %}

{% block content %}
<div class="card">
  <a href="homework.html" class="title">Web 前端课程展示区</a>
  <hr>
  <div class="content">
    Web 前端课程作业链接发布区。
  </div>
</div>

<div class="card">
  <a href="article0001.html" class="title">Gulp 简介</a>
  <hr>
  <div class="content">
    前端构建工具Gulp。
  </div>
</div>

<div class="card">
  <a href="article0002.html" class="title">SCSS 简介</a>
  <hr>
  <div class="content">
    一个对Css的拓展。
  </div>
</div>

<div class="card">
  <a href="article0003.html" class="title">Yeoman 简介</a>
  <hr>
  <div class="content">
    前端脚手架工具。
  </div>
</div>
{% endblock %}
